[submodule "plugins/tmux-copycat"]
	path = plugins/copycat
	url = https://github.com/tmux-plugins/tmux-copycat.git
[submodule "plugins/sidebar"]
	path = plugins/sidebar
	url = https://github.com/tmux-plugins/tmux-sidebar.git
